<%= link_to "Về trang chủ", :action => 'index' %>
<h1><%= link_to @feed.title, @feed.url %></h1>
<h4><%= @feed.description %></h4>
<div><%=raw @feed.content %></div>
<%= link_to "Xem bài gốc", @feed.url %>
